<!DOCTYPE html>
<html lang="es">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <title>Document</title>
</head>
<body>
     <input type="text" id="street" name="street">
     <button id="send">DATA</button>
     
     <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
     <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
     <script>
          $("#send").click(()=>{
               console.log($("#street").val())
               axios.post('http://localhost:3000/startgame',{
                    adress : $("#street").val()
               })
          })
     </script>
</body>
</html>