<!DOCTYPE html>
<html lang="es">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <title>Document</title>
</head>
<body>
     <input type="text" id="street" name="street">
     <button id="send">DATA</button>
     <div id="search"></div>
     
     <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
     <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
     <script>
          $("#send").click(()=>{
               console.log($("#street").val())
               axios.post('http://localhost:3000/getposibles',{
                    adress : $("#street").val()
               }).then(function (response) {
                    console.log(response.data);
                    for(let i = 0 ; i < response.data.length;i++){
                         $("#search").append(`${response.data[i].address.road},${response.data[i].address.house_number},${response.data[i].address.suburb},${response.data[i].address.county}, ${response.data[i].address.country}   <br>`)

                    }
               })
          })
     </script>
</body>
</html>